<div class="row">
  <div class="col-md-6">
  	<div class="batman">
  		<img src="<%= asset_path 'Batman.jpg' %> " class="img-responsive" alt="Responsive image">
      <%= link_to 'pages_batman_path' %>
  	</div>
  </div>
  <div class="col-md-6">
  	<div class="superman" >
  		<img src="<%= asset_path 'SupermanRoss.png' %> " class="img-responsive" alt="Responsive image">
      <%= link_to  'pages_superman_path' %>

  	</div>
  </div>
</div>